body{
	background: rgb(33, 37, 41);
}
*{
	font-family: arial;
	text-decoration: none;
	color: rgb(233, 236, 239);
}
hr{
	border: 1px solid;
	border-radius: 100px;

	margin-top: 20px;
	margin-bottom: 20px;
}
.eps{
	display: flex;
	flex-wrap: wrap;

	margin-left: auto;
	margin-right: auto;
}
.eps img{
	width: 180px;
	height: 99px;
}
.ep{
	display: flex;
	width: 50%;

	margin-right: 10px;
	margin-bottom: 10px;
}
.ep-end{
	display: flex;
	width: 70%;
}
.left{
	display: flex;
	flex-direction: column;
	width: 180px;

	margin-right: 10px;
}
.left div{
	margin-top: 10px;
}